<div class="container-fluid p-0 m-0">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="row">
      <div class="col-9">
        <a class="navbar-brand" [routerLink]="['/home']">
          <img src="assets/Title.JPG" class="img-fluid">
        </a>
      </div>
      <div class="col-3 justify-content-end">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <b>Choose</b>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-dark font-weight-bold" [routerLink]="['/universe']">Universe</a>
            <a class="dropdown-item text-danger font-weight-bold" [routerLink]="['/books']">Books</a>
            <a class="dropdown-item text-success font-weight-bold" [routerLink]="['/houses']">Houses</a>
            <a class="dropdown-item text-info font-weight-bold" [routerLink]="['/characters']">Characters</a>
            <a class="dropdown-item text-warning font-weight-bold" [routerLink]="['/comingSoon']">Coming Soon</a>
          </div>
        </li>
        <li class="nav-item dropdown ml-md-3">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-share-alt mr-1"></i>
            <b>Share</b>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="text-dark" target="_blank" href="mailto:?subject=Hey! Check this out!!&body=https://dgoel27.github.io/GameOfThrones/">
              <i class="fas fa-envelope mx-4 mx-md-2" style="font-size: 25px;"></i>
            </a>
            <a class="text-dark" target="_blank" href="https://www.twitter.com/share?url=https://dgoel27.github.io/GameOfThrones/">
              <i class="fab fa-twitter-square mx-4 mx-md-2" style="font-size: 25px;"></i>
            </a>
            <a class="text-dark" target="_blank" href="http://www.facebook.com/sharer.php?u=https://dgoel27.github.io/GameOfThrones/">
              <i class="fab fa-facebook-square mx-4 mx-md-2" style="font-size: 25px;"></i>
            </a>
            <a class="text-dark" target="_blank" href="https://api.whatsapp.com/send?phone=whatsappphonenumber&text=https://dgoel27.github.io/GameOfThrones/">
              <i class="fab fa-whatsapp-square mx-4 mx-md-2" style="font-size: 25px;"></i>
            </a>
          </div>
        </li>
        <li class="nav-item ml-1 ml-md-4 my-3 mt-md-2 text-light">
          <a [routerLink]="['/search']" style="color: #f8f9fa;"><i class="ml-1 fas fa-search"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet (deactivate)="onDeactivate()"></router-outlet>
<div class="footer">
  <a class="text-light" target="_blank" href="mailto:dgoel27@yahoo.com?subject=Write Your Query">
    <i class="fas fa-envelope"></i> Contact Us</a>
</div>