<div class="container bg-dark">
  <div class="row text-warning">
    <div class="col-md-12">
      <h2 class="text-dark text-uppercase bg-warning">Game of Thrones Season 8 : Director's Announcement</h2>
      <hr>
      <img src="assets/Comingsoons8.jpg" class="img-fluid">
      <hr>
      <p>HBO has officially announced the directors that will step behind the camera for the final season of Game of Thrones.
        The final six episodes of the series will feature some heavy hitters from throughout the show back in the director’s
        chair, including Miguel Sapochnik, David Nutter, and David Benioff and D.B. Weiss. THR reports that Benioff and Weiss
        will direct the series finale of the show, each of them have previously directed two separate episodes but not together.
        Miguel Sapochnik has four episodes of the series under his belt already, including Season 5’s epic zombie battle
        “Hardhome” and Season 6’s climactic “Battle of the Bastards (for which he won both a Primetime Emmy and a Director’s
        Guild of America award) and the season six finale, “The Winds of Winter.” David Nutter has previously directed six
        episodes of the series, including “The Old Gods and the New” and “A Man Without Honor” in Season 2, the final two
        episodes of Season 3, including the shocking “The Rains of Castamere” and “Mysa,” plus the final episodes of Season
        5, including “The Dance of Dragons” and “Mother’s Mercy,” for which he was awarded a Primetime Emmy. It remains to
        be seen when Game of Thrones Season 8 will premiere, but it’s been previously reported that the series may not return
        until 2019, though all of the episodes may be feature length. Spin-off shows are also in development for HBO, which
        creator George R.R. Martin is working on with various screenwriters.</p>
      <hr>
      <a class="btn btn-warning text-dark" (click)="goBackToPreviousPage()">Go Back</a>
    </div>
  </div>
</div>